NEXT_PUBLIC_SUPABASE_URL=ozzwytsfxdtetqkupktr
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ogIwRwWBo5vE3IWX-GJaPg_70MgPj7V
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96end5dHNmeGR0ZXRxa3Vwa3RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MzYwODAsImV4cCI6MjA5MzMxMjA4MH0.eC9Sj_KUi38oldovYcCPR-UOLFYh-dlbUG8oYiFitFA
